* {
  font-family: "Poppins";
}

html, body {
  height: 100%;
  margin: 0;
}
html #app, body #app {
  height: auto;
}

.navbar > .container {
  justify-content: unset !important;
}
.navbar > .container .navbar-brand {
  margin-left: 0.5rem;
  color: #fff !important;
}
.navbar > .container .navbar-toggler {
  border-color: #24234E !important;
  color: #fff !important;
}
.navbar > .container .navbar-toggler :active {
  border-color: #24234E !important;
}

.top-header img {
  width: 100%;
}
.top-header .content-header {
  text-align: center;
  position: absolute;
  top: 10%;
  color: #fff;
  line-height: 2rem;
  font-weight: 600;
  left: 25%;
}
.top-header .content-header h1 {
  font-size: 3rem;
  font-weight: 800;
}
.top-header .content-home {
  text-align: left;
  position: absolute;
  top: 5%;
  width: 100%;
  color: #fff;
  line-height: 0.5rem;
  font-weight: 600;
}
.top-header .content-home .profile-picture {
  margin-left: 5%;
  width: 20%;
}
.top-header .content-home .profile-content {
  position: absolute;
  top: 10%;
  left: 30%;
}

.lawyer-auth {
  border: none !important;
  margin-top: -2rem;
}
.lawyer-auth .card-header {
  background-color: unset !important;
  border: none !important;
  text-align: center;
}
.lawyer-auth .card-header h3 {
  font-weight: 800;
}
.lawyer-auth .card-body .col-form-label {
  font-weight: 800;
}
.lawyer-auth .card-body .form-control {
  border-radius: 10px;
  padding: 0.7rem;
}
.lawyer-auth .btn {
  background-color: #014773;
  border-radius: 15px;
  width: 100%;
  margin-top: 1rem;
  font-weight: 700;
  padding: 0.5rem;
}
.lawyer-auth .forgot-password {
  margin-top: 1rem;
  text-align: right;
}
.lawyer-auth .forgot-password a {
  text-decoration: none;
  color: #014773;
  font-weight: 800;
}
.lawyer-auth .bottom-content {
  margin-top: 1rem;
  text-align: center;
}
.lawyer-auth .bottom-content a {
  text-decoration: none;
  color: #014773;
  font-weight: 800;
}

.lawyer-home {
  margin-top: -2rem;
}
.lawyer-home a {
  text-decoration: none;
  color: #000;
}
.lawyer-home a .card {
  margin: 2rem 0;
}
.lawyer-home a .card .card-header {
  padding: 2rem;
  text-align: center;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #24234E;
}
.bottom-menu .grid-menu {
  position: -webkit-sticky;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.bottom-menu .grid-menu .child-row {
  margin: 0.5rem;
}
.bottom-menu .grid-menu .child-row a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1rem;
}
.bottom-menu .grid-menu .child-row a i {
  display: block;
}
.bottom-menu .grid-menu .child-row a small {
  font-size: 0.7rem;
}

.lawyer-content a {
  text-decoration: none;
  color: #000;
}
.lawyer-content a .card {
  margin: 1rem 0;
}
.lawyer-content a .card .grid-column-2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.content-add {
  position: fixed;
  bottom: 12%;
  right: 5%;
}
.content-add .mybutton {
  position: -webkit-sticky;
  position: sticky;
}
.content-add .mybutton .add {
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  background-color: #F8B526;
  font-size: 1.5rem;
  border: none;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */