* {
    font-family: 'Poppins';
}
html, body {
    height: 100%;
    margin: 0;
    #app{
        height: auto;
    }
}
.navbar>.container {
    justify-content: unset !important;
    .navbar-brand {
        margin-left: 0.5rem;
        color: #fff !important;
    }
    .navbar-toggler {
        border-color: #24234E !important;
        color: #fff !important;
        :active {
            border-color: #24234E !important;
        }
    }
}
.top-header {
    img {
        width: 100%;
    }
    .content-header {
        text-align: center;
        position: absolute;
        top: 10%;
        color: #fff;
        line-height: 2rem;
        font-weight: 600;
        left: 25%;
        h1 {
            font-size: 3rem;
            font-weight: 800;
        }
    }
    .content-home {
        text-align: left;
        position: absolute;
        top: 5%;
        width: 100%;
        color: #fff;
        line-height: 0.5rem;
        font-weight: 600;
        // left: 25%;
        .profile-picture{
            margin-left: 5%;
            width: 20%;
        }
        .profile-content{
            // width: 75%;
            position: absolute;
            top: 10%;
            left: 30%;
        }
    }
}
.lawyer-auth {
    border: none !important;
    margin-top: -2rem;
    .card-header {
        background-color: unset !important;
        border: none !important;
        text-align: center;
        h3 {
            font-weight: 800;
        }
    }
    .card-body{
        .col-form-label {
            font-weight: 800;
        }
        .form-control{
            border-radius: 10px;
            padding: 0.7rem;
        }
    }
    .btn {
        background-color: #014773; 
        border-radius: 15px;
        width: 100%;
        margin-top: 1rem;
        font-weight: 700;
        padding: 0.5rem;
    }
    .forgot-password {
        margin-top: 1rem;
        text-align: right;
        a {
            text-decoration: none;
            color: #014773;
            font-weight: 800;
        }
    }
    .bottom-content {
        margin-top: 1rem;
        text-align: center;
        a {
            text-decoration: none;
            color: #014773;
            font-weight: 800;
        }
    }
}
.lawyer-home {
    margin-top: -2rem;
    a {
        text-decoration: none;
        color: #000;
        .card{
            margin: 2rem 0;
            .card-header{
                padding: 2rem;
                text-align: center;
            }
        }
    }
}
.bottom-menu{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #24234E;
    .grid-menu{
        position: sticky;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        .child-row{
            margin: 0.5rem;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;
                line-height: 1rem;
                i{
                    display: block;
                }
                small{
                    font-size: 0.7rem;
                }
            }
        }
    }
}

.lawyer-content {
    a{
        text-decoration: none;
        color: #000;
        .card {
            margin: 1rem 0;
            .grid-column-2{
                display: grid;
                grid-template-columns: 1fr 3fr;
                .column-row{
                }
            }
        }
    }
}

.content-add{
    position: fixed;
    bottom: 12%;
    right: 5%;
    .mybutton{
        position: sticky;
        .add{
            border-radius: 100%;
            height: 4rem;
            width: 4rem;
            background-color: #F8B526;
            font-size: 1.5rem;
            border: none;
            font-weight: 500;
        }
    }
    
}